/* Container holding the image and the text */

.full_page_container{
    position: relative;
    text-align: center;
    color: white;
    z-index: -60;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: -50;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .footer {
      text-align: center;
  }

  .text-color { 
      color: white;
  }

 ul {
     list-style-type: none;
 }



/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 1401px) {
    .text-resize {
      font-size: 50px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 1400px) {
    .text-resize {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 992px) {
    .text-resize {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .text-resize {
      font-size: 18px;
    }
  }

